
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('school.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;

}

header{
height: 100px;
width: 100%;
position: relative;
font-family: 'Roboto', sans-serif;
background-color: black;

}
header h2 {
    color: white;
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}


main{
    font-family: 'Roboto', sans-serif;

    position: relative;
}
#formDiv{
    font-family: 'Roboto', sans-serif;

    width: 20%;
    background-color: rgb(187, 130, 240);
    opacity: .7;
    position: absolute;
    top: 100px;
    left: 5%;




}
#tableDiv{
    width: 40%;
    background-color: rgb(187, 130, 240);
    position: absolute;
    top: 100px;
    left: 40%;
    opacity: 0.7;

}

table{
    width: 80%;
    border: 2px solid white;
    border-collapse: collapse;
    margin: 60px 10%;
}
th{
    background-color: black;
    border: 2px solid white;
    color:white ;
    text-align: center;

}
td{
    background-color: rgb(80, 76, 76);
    border: 2px solid white;
    color:white ;
    text-align: center;


}

form{
    text-align: center;
    margin: 50px 0;
}

label{
    text-align: center;
    color:white ;

    font-size: 20px;
    font-weight: 300;



}
input,#Course{
    width: 60%;
    margin: 10px 0;
    height: 30px;
    border: 2px solid black;
}

#submit{
    color: white;
    background-color: black;
}
#clear{
  
        color: white;
        background-color: black;
        width: 40%;
        margin: 10px 30%;
    }
}